.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: auto;
  display: flex;
  margin-top: 60px;
  justify-content: center;
  align-content: center;
  /*background-color: rgba(0, 0, 0, 0.2);*/
}

.popup-inner {
  border-radius: 25px;
  position: relative;
  padding: 32px;
  width: 100vh;
  max-width: 500px;
  background-color: rgb(45, 42, 42);
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}
