.page-header {
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.5em;
}

.create-event-button {
  font-family: "Raleway", sans-serif !important;
}

.date-picker {
  border-radius: 5px !important;
  width: 225px !important;
  border: none !important;
  height: 37px !important;
}
